@charset "UTF-8";

body {font-family: 'Poppins', sans-serif; font-size: 16px; line-height: 26px; color: #5a5f61; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-weight: 300;}
h1, h2, h3, h4 {color: #2e3233; margin: 0px; margin-bottom: 10px; font-family: 'Poppins', sans-serif; font-weight: 500;}
.heading-title{color: #2e3233}
h2 {font-size: 32px; line-height: 46px;letter-spacing: -1px;}
h3 {font-size: 32px; line-height: 28px;}
h4 {font-size: 24px; line-height: 28px; font-weight: 500;}
p {margin-bottom: 20px; line-height: 27px;}
ul, ol {margin-bottom: 30px;}
a {color: #446a73; text-decoration: none; -webkit-transition: all 0.3s; -moz-transition: all 0.3s;
transition: all 0.3s;}
a:focus, a:hover{ text-decoration: none;color: #bd1e1e;}
strong{font-weight: 600;}

/*-----  button -----*/

.btn { padding: 15px 20px 15px 20px; border-radius: 4px; font-size: 14px; line-height: 14px; font-weight: 900; letter-spacing: 1px; text-transform: uppercase; font-family: 'Poppins', sans-serif; border:transparent;}
.btn-default { background: #bd1e1e; color: #fff;border:transparent;}
.btn-default:hover { background-color: #dd2b30; color: #fff;}
.btn-default.focus, .btn-default:focus { color: #fff; background-color: #dd2b30; border-color: #dd2b30;}
.btn-link { color: #bd1e1e; font-weight: 600; font-size: 14px; text-transform: uppercase;
text-decoration: underline;}
.btn-link:hover { color: #dd2b30; text-decoration: none;}

/*----- form css -----*/

input.form-control {background-color: #fefefd; border-radius: 4px; border: 2px solid #edebe3;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075); box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 52px; color: #7c8182;}
select.form-control {background-color: #fefefd; border-radius: 4px; border: 2px solid #edebe3;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075); box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	height: 52px;}
textarea.form-control {background-color: #fefefd; border-radius: 4px; border: 2px solid #edebe3;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075); box-shadow: inset 0 0px 0px rgba(0,0,0,.075);}
label.control-label {color: #303136; font-weight: 500; margin-bottom: 5px;}
button.btn {padding-top: 20px; padding-bottom: 17px; transition: .3s all;}
.form-group{margin-top: 10px;}
.form-control:focus {border-color: #dad2cb; outline: 0;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 8px rgba(220,213,206,.6);
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 8px rgba(220,213,206,.6);}

/*----- section css -----*/

.listnone {list-style: none; padding: 0;}
.section-space {padding-top: 35px; padding-bottom: 80px;}
.space-bottom-80{padding-bottom: 30px; padding-top: 40px;}
.space-bottom-80 h3{margin: 28px 0 12px; line-height: 38px;}
.space-bottom-80 h4{line-height: 34px;}
.space-bottom-80 img{margin: 0 auto;}
.space-bottom-80 ul{margin-bottom: 8px;}
.space-bottom-80:nth-of-type(3){background-color: #f9f8f4;}
.section-space-40{padding-top: 40px; padding-bottom:40px;}
.section-color {background-color: #f9f8f4;}
.section-title{ margin-bottom: 30px; text-align: center;}
.section-bg{background-color: #0b3954;}
#what-we-do{padding-bottom: 20px;}
.we-buy .lead{margin-bottom: 5px;}
.contact{padding-top: 35px; padding-bottom: 40px;}
.contact p{margin-bottom: 10px;}
#map {height: 400px;}

/*------ marging space --------*/

.mb0{margin-bottom: 0px;}
::selection {background: #fa8285; color: #333;}
::-moz-selection {background: #fa8285; color: #333;}
.lead{font-size: 21px; color: #bd1e1e;line-height: 1.8; margin-bottom: 12px;}
.text-highlight{color: #dd2b30;}

/*----- well block -----*/

.well-inner { background-color: #fff; padding: 20px; -webkit-box-shadow: 0px 0px 3px 0px rgba(231,229,222,1); -moz-box-shadow: 0px 0px 3px 0px rgba(231,229,222,1); box-shadow: 0px 0px 3px 0px rgba(231,229,222,1);}

/*--------- list bullet elements --------*/

.circle li { position: relative; padding-left: 26px; line-height: 32px;}
.circle li:before {font-family: FontAwesome; display: block; position: absolute; left: 0; width: 13px;
	font-size: 14px; color: #bd1e1e; content: "\f10c"; }
.check-circle li {position: relative; padding-left: 26px;}
.check-circle li:before {font-family: FontAwesome; display: block; position: absolute; left: 0; width: 20px;
	font-size: 16px; color: #bd1e1e; content: "\f058";}

/*----- Top bar -----*/

.header { background-color: #f9f8f4; padding-top: 30px; padding-bottom: 30px; line-height: 2.8;}
.navbar-brand {float: left; height: 50px; padding: 0 15px; font-size: 18px;line-height: 20px;}
.navbar-brand h1, .footer-brand {font-family: 'Bree Serif', serif; font-size: 25px; color: #dd2b30;}
.brand {padding-bottom: 10px;}
.store-block{padding-left: 30px;}
.store-icon{float: left; font-size: 32px;padding-right: 20px;}
.store-block, .need-block{line-height: 1.5;}
.store-time, .help-number{color: #2e3233; font-weight: 600;}
.store-title, .help-title{font-size: 12px; text-transform: uppercase;letter-spacing: 1px; font-weight: 600;}
.need-icon{float: left; font-size: 32px;padding-right: 20px;}

 /*-----Navigationn-----*/
.navigation { background-color: #0B3954; z-index: 9; position: relative;}
#navigation li.active a {color: #fff;}
#navigation,
#navigation ul,
#navigation ul li,
#navigation ul li a,
#navigation #menu-button {margin: 0; padding: 0; border: 0; list-style: none; line-height: 1; display: block;
  position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#navigation:after,
#navigation > ul:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0;
  height: 0;}
#navigation #menu-button {display: none;}
#navigation {font-family: 'Poppins', sans-serif; background: #0B3954;}
#navigation > ul > li {float: left;}
#navigation > ul > li > a {padding: 18px 20px; font-size: 13px; letter-spacing: 1px; text-decoration: none;
	color: #acc4ca; font-weight: 700; text-transform: uppercase; margin-right: -1px;}
#navigation > ul > li:hover > a {color: #ffffff; }
#navigation ul ul {position: absolute; left: -9999px; }
#navigation ul ul li {height: 0; -webkit-transition: all .25s ease; -moz-transition: all .25s ease;
  -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease;}
#navigation li:hover > ul {left: auto; }
#navigation li:hover > ul > li {height: 44px; }
#navigation ul ul ul {margin-left: 100%; top: 0;}
#navigation ul ul li a {border-bottom: 1px solid #375b63; padding: 18px 15px; width: 220px;
  font-size: 13px; text-decoration: none; color: #acc4ca;  font-weight: 600; background: #375b63;
text-transform: uppercase;}
#navigation ul ul li:last-child > a,
#navigation ul ul li.last-item > a {border-bottom: 0;}
#navigation ul ul li:hover > a,
#navigation ul ul li a:hover {color: #ffffff;background-color:#375b63; }
.navigation.affix {position: fixed; width: 100%; top: 0;}
.nav li a:focus, .nav li a:hover {background-color: #0b3954;}

#navigation.small-screen {width: 100%;}
#navigation.small-screen ul {width: 100%; display: none; margin-bottom: 1.5em;}
#navigation.small-screen ul li {width: 100%; border-bottom: 1px solid rgba(120, 120, 120, 0.2);}
#navigation.small-screen ul ul li,
#navigation.small-screen li:hover > ul > li {height: auto;}
#navigation.small-screen ul li a,
#navigation.small-screen ul ul li a {width: 100%; border-bottom: 0;}
#navigation.small-screen > ul > li {float: none;}
#navigation.small-screen ul ul li a {padding-left: 25px;}
#navigation.small-screen ul ul ul li a {padding-left: 35px;}
#navigation.small-screen ul ul li a {color: #acc4ca; background: none;}
#navigation.small-screen ul ul li:hover > a,
#navigation.small-screen ul ul li.active > a {color: #ffffff;}
#navigation.small-screen ul ul,
#navigation.small-screen ul ul ul,
#navigation.small-screen #menu-button {display: block; padding: 17px; color: #acc4ca; cursor: pointer;
  font-size: 12px; text-transform: uppercase; font-weight: 700;}
#navigation.small-screen #menu-button:after {position: absolute; top: 22px; right: 17px; display: block; height: 8px;
  width: 20px; border-top: 2px solid #acc4ca; border-bottom: 2px solid #acc4ca; content: ''; transition: all .3s;}
#navigation.small-screen #menu-button:before {position: absolute; top: 16px; right: 17px; display: block;
 height: 2px; width: 20px; background: #acc4ca; content: ''; transition: all .3s;}
#navigation.small-screen #menu-button.menu-opened:after {top: 23px; border: 0; height: 2px; width: 20px;
  background: #ffffff; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg); transform: rotate(-45deg);}
#navigation.small-screen #menu-button.menu-opened:before {top: 23px; background: #ffffff; width: 20px;
  -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg); transform: rotate(45deg);}

/*-----Navigationn end-----*/

.slider, .slick-slide {position: relative;}
.slider-img {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,000000+100&0.6+0,0.6+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 1%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 1%, rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 1%, rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#99000000', GradientType=0 ); /* IE6-9 */}
.slider img { width: 100%; z-index: -1; position: relative;}
.slider-captions { position: absolute; bottom: 30%; width: 30%}
.slider-title {color: #fff; font-size: 48px; font-weight: 700; letter-spacing: -1px; line-height: 62px;}
.slider-text {color: #fff;}

/*-------- footer ---------*/

.footer{background-color: #323333;padding-top: 50px; color: #727272; font-size: 14px;}
.footer-brand {font-size: 40px;}
.footer-widget img{margin-bottom: 30px;}
.footer-widget-title{color:#cacece; text-transform: uppercase; margin-top: 24px; margin-bottom: 10px;}
.footer-widget ul{margin-bottom: 20px;}
.footer-widget ul li{margin-bottom: 8px;}
.footer-widget ul li a{color: #727272;}
.footer-widget ul li a:hover{color: #dd2b30;}
.footer-address{margin-bottom: 10px;}
footer a {color: #727272;}
.tiny-footer{background-color: #191a1a;padding: 14px 0 0;}
.copyright-text{font-size: 12px;color: #494a4a; line-height: 1; margin-bottom: 10px;}

/*-------- service page --------*/

.service-block{margin-bottom: 30px;}
.service-img{margin-bottom: 30px;}
.service-image-block{  text-align: center;margin-bottom: 30px;}
.service-image-block h3{line-height: 38px;}
.service-image-inner{padding: 20px; border: 1px solid #e6e3da; border-radius: 4px;background-color: #fff;}

/*--------- tetimonial --------*/
.heading-white{color: #fff;}
.testimonial .slick-dots{bottom: -40px; width: 110px;}


.testimonial-v2{text-align: center;}
.testimonial-v2-caption{margin-bottom: 20px; font-size: 21px;}
.testimonial-v2-caption p{line-height: 38px; font-style: italic;}
.testimonial-v2-name{margin-bottom: 0px;}
.testimonial-v2-img img{border-radius: 50%; margin-bottom: 20px;}
.testimonial-v2 .slick-dots{bottom: -40px;}
.testimonial-v2 .slick-dots li button{ font-size: 0; line-height: 0; display: block; width: 20px; height: 20px; padding: 5px; cursor: pointer; color: #dd2b30; border: 0;
outline: none; background:transparent;}
.testimonial-v2 .slick-dots li button:before{
    font-family: 'slick'; font-size: 12px; line-height: 20px; position: absolute; top: 0; left: 0; width: 20px;
    height: 20px; content: '•'; text-align: center; opacity: 1; color: #bd1e1e;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;  transition: .3s all}
.testimonial-v2 .slick-dots li.slick-active button:before{ opacity: .75; color: #333;}






/*--------- Pricing Page ----------*/

.pricing-block{margin-top: 20px; margin-bottom: 30px;}
.pricing-block p{margin-bottom: 0}
.pricing-head{background-color: #0b3954; padding: 20px; color: #fff;}
.pricing-head .heading-white{font-weight: 700; margin-bottom: 0px;}
.price-list .price-item{border-bottom: 1px solid #e6e3da; padding-bottom: 10px;padding-top: 10px;
font-size: 14px; color: #2e3233;}

/*--------- feature box ----------*/

.feature-container{margin-top: 10px;}
.feature{ margin-top: 5px;}
.feature-icon{color: #bd1e1e; font-size: 34px; margin-bottom: 30px;}
.feature-content h3{margin-bottom: 5px;}
.feature-left .feature-icon{float: left;}
.feature-left .feature-content{padding-left: 60px; text-align: left;}
.call-to-action-title{color: #fff; font-size: 26px; margin-bottom: 16px; line-height: 1.5;}
.call-action-desc{color: #89abb3;}
.call-to-action-btn{padding-top: 10px;}

/********** Extra Plugin CSS - Back to top **********/

.cd-top {display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 40px; right: 10px;
	overflow: hidden; text-indent: 100%; white-space: nowrap; background: #0b3954 url(../images/cd-top-arrow.svg) no-repeat center 50%; visibility: hidden; opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s; -moz-transition: opacity .3s 0s, visibility 0s .3s;
 transition: opacity .3s 0s, visibility 0s .3s;}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
 -webkit-transition: opacity .3s 0s, visibility 0s 0s; -moz-transition: opacity .3s 0s, visibility 0s 0s;
 transition: opacity .3s 0s, visibility 0s 0s;}
.cd-top.cd-is-visible {	/* the button becomes visible */ visibility: visible; opacity: 1;}
.cd-top.cd-fade-out {
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	opacity: .75;}
.cd-top:hover {opacity: 1;}

/*============= Laptop 1366 ===========*/

@media screen and (max-width: 1366px) {
	.slider-captions {position: absolute; bottom: 22%; width: 485px;}
	.rou-slide-cap {bottom: 27%;}
}
@media (max-width: 330px) {
	.navbar-brand img{width: 80px;}
	.header .btn{font-size: 12px; padding: 10px; display: none;}
}

/*============= media query =============*/

@media only screen and (max-width: 768px) {
	.header {background-color: #f9f8f4; padding-top: 10px; padding-bottom: 10px; line-height: 2.8;}
	.header .btn{font-size: 12px; padding: 10px;}
	.slider-text, .slider-captions>.btn{display: none;}
	.navbar-brand img{width: 120px;}
	.slider-captions{bottom: 30%; width: 100%; text-align: center;}
	.slider-title{font-size: 20px; line-height: 26px;}
	.slider .slick-dots{bottom: 5px;}
}

@media (min-width: 769px) and (max-width: 1024px) {
  .slider-captions{width: 60%; left: 7%; bottom: 24%;}
  .slider-title{font-size: 32px; line-height: 34px;}
  .slick-dots{bottom: 5px;}
  .header .btn{font-size: 12px;}
}

@media (min-width: 320px) {
	.navbar-brand h1 {font-size: 27px;}
	.brand {padding-bottom: 10px;}
}
@media (min-width: 340px) {
	.navbar-brand h1 {font-size: 32px;}
	.brand {padding-bottom: 7px;}
}


@media (min-width: 500px) and (max-width: 768px) {
	.slider-title {font-size: 28px; line-height: 38px;}
	.navbar-brand h1 {font-size: 36px;}
	.brand {padding-bottom: 3px;}
}

@media (min-width: 768px) {
	.navbar-brand h1 {font-size: 40px;}
	.brand {padding-bottom: 0;}
	.section-title p, .form-head {font-size: 18px;}
	.space-bottom-80 h3{margin-top: 0;}
	.space-bottom-80 h4{margin-top: 10px;}
	.repairs-h4{text-align: center;}
	.repair-list{font-size: 18px; width: 300px; text-align: center; margin: 0 auto;}
	.repair-list .circle li{padding-left: 0;}
	.repair-list .circle li:before{display: none;}
	.call-action-desc{margin-bottom: 0;}
	.testimonial-v2-caption{margin-bottom: 40px;}
	.form-head{text-align: center;}
	.cr-created{text-align: right;}
	.footer-brand{margin-top: 16px;}
}

@media (min-width: 802px) {
	.container{width: 785px;}
}

@media (min-width: 938px) {
	.navigation .container {width:913px;}
	#navigation > ul > li > a {border-left: 1px solid #375b63; border-right: 1px solid #375b63;}
}

@media (min-width: 992px) {
	.container{width: 974px;}
	.navbar-brand h1 {font-size: 44px;}
	#what-we-do .section-title h2 {font-size: 36px;}
	.space-bottom-80 .new-with {margin-top: 18px;}
	.footer-brand{margin-top: 14px;}
}

@media (min-width: 1024px) {
	.slider-captions{left: 7%;}
	.footer-brand{margin-top: 12px;}
}

@media (min-width: 1200px) {
	.container {width: 1170px;}
	#what-we-do .section-title h1 {font-size: 40px; margin: 10px 0 16px;}
	.space-bottom-80 .sale-img {margin-bottom: 25px}
	.footer-links {margin-bottom: 30px;}
}
